.container {
    margin-bottom: 50px;
}
#score-board {
    text-align: center;
}
#win-total {
    display: inline;
}
#loss-total {
    display: inline;
}
.display-4 {
    font-family: 'Chakra Petch';
    font-size: 5rem;
    font-weight: 300;  
}    
 .col-sm {
     box-align: center;
 }
.card {
    width: 250px;

}
.card-header {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgb(73, 7, 160);
 }
 #magic-number {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
 }

 #current-total{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
 }
 

 .btn-primary {
    
    background-color: #08b0da;
    border-color: #08b0da;
}